@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #07411d;
    padding: 1rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.navbar-logo h2{
    font-family: serif;
    color: white;   
}

.navbar-logo {
    float: left;
    display: flex;
    align-items: center;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 1rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    float: right;
}

.nav-link {
    padding: 0;
    margin-left: 1rem;
    text-transform: uppercase;
    color: #fdf9f9;
    text-decoration: none;
}
.nav-link:hover{
    color: #ffa500;
    transition: 0.3s;
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f9fa;
    min-width: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .dropdown-item {
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    color: #333;
}

.dropdown-content .dropdown-item:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.box{
    height: 15px;
    float: right;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50px;
    align-items: center;
    margin-top: 4.2%;
}
.box a{
    color: white;
}

.box:hover input{
    width: 150px;
    float: right;
}

.box input{
    width: 0;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #ffa500;
    transition: 0.5s;
    color: white;
    background:transparent;
}

.box a .fas{
    color: #ffa500;
    font-size: 18px;
}


@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-menu {
        display: inline-flex; 
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu.active {
        display: flex; 
    }

    .nav-link {
        margin-left: 0;
        margin-bottom: 0.5rem;
        display: block;
    }

    .box {
        margin-left: 0;
        float: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 480px) {
    .box input {
        width: 100%; 
    }
}





/* Footer section */
.fdiv {
    background-color: rgb(37, 37, 37);
    width: 100%;
    height: auto;
}

.fdiv3 {
    background-color: rgb(3, 72, 27);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.leftbox h2 {
    color: rgb(196, 122, 11);
}

.leftbox p {
    width: auto;
    float: none;
    text-align: justify;
    margin-left: 20%;
    margin: 0;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}


.leftbox,
.midbox,
.rightbox {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
}
.midbox p{
    margin-left: 10%;
    text-align: justify;
}

.leftbox p,
.midbox p,
.rightbox ul li {
    color: white;
}

.midbox img {
    height: 200px;
    width: 200px;
    margin: auto;
}

.rightbox ul {
    padding: 0;
}



.rightbox ul li {
    text-decoration: none;
    list-style: none;
    text-align: justify;
    margin: 15px;
    margin-left: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.rightbox label {
    border-top: none;
    border-left: none;
    border-right: none;
}

.searchf {
    margin-top: 10%;
}

.fdiv4 {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



.fdiv4, a{
    color: inherit;
    color: rgb(156, 154, 154);
}

.fdiv4 li a:hover{
color: #ffa500;
transition: 0.3s;
}

.fdiv4 li{
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

.fdiv4 li a{
    color: #333;
}

.fdiv4 ul li {
    margin: 5px;
    padding: 5px;
    font-size: medium;
}

.fdiv4e p {
    color: rgb(196, 122, 11);
    margin: 20px 0;
    text-align: center;
}

.search {
    background-color: transparent;
    border-bottom: 1px solid yellow;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.rightbox button {
    border: none;
    background-color: transparent;
    color: gray;
    margin: 20px;
}

@media (min-width: 768px) {
    .fdiv3 {
        flex-direction: row;
    }

    .leftbox,
    .midbox,
    .rightbox {
        width: 33%;
        text-align: center;
    }

    .fdiv4 {
        flex-direction: row;
    }

    .fdiv4 ul {
        flex-direction: row;
    }

    .fdiv4 p {
        margin-top: 45px;
        margin-left: 30px;
    }
}

@media (max-width: 480px) {
    .fdiv2 h2,
    .fdiv2 a,
    .fdiv2 button,
    .fdiv3 h2,
    .fdiv3 p,
    .leftbox,
    .midbox,
    .rightbox,
    .fdiv4 p {
        margin-left: 5%;
        text-align: center;
    }

    .midbox img {
        width: 80%;
    }

    .midbox p {
        width: 300px;
        font-size: medium;
        text-align: center;
    }

    .rightbox ul {
        padding: 0;
    }

    .fdiv4 ul li {
        margin: 5px;
        padding: 5px;
        font-size: small;
    }
}

@media (max-width:768px){
    .fdiv4, a{
        display: block;
        display: inline-block;
    }
}
/* start here */
.ediv {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(3, 72, 27);
    padding: 150px;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    justify-content: center;
}

.den {
    font-family: 'Poppins', sans-serif;
    font-weight: 500%;
    font-size: 60px;
    color: #ff9800;
    text-align: center;
    text-decoration: underline;
    text-size-adjust: top;
}

.ediv p {
    text-align: center;
}

.elementary {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.epic {
    position: relative;
    height: 100%;
    width: 100%;
}

.container3 {
    background-color: rgb(3, 72, 27);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    border-top: 5px solid #ff9800;
}

.c3image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-top: -70px;
    position: relative;
    /* clip-path: circle(); */
}
.ele1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 80%;
}
.ele1 h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400%;
    font-size: 40px;
    color: #ff9800;
    text-align: center;
}

.ele1 h5 {
    color: #fff;
    font-size: 15px;
}

.ele101 p {
    color: #fff;
    font-size: 20px;
}
.ele2 {
    width: 200px;
  height: 200px;
  border: 2px solid gold;
  padding: 20px;
  margin: 0 20px;
  text-align: center;
}

.mentary1 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(3, 72, 27); ;
}

.mentary1 p {
    text-align: center;
    font-size: 20px;
}

.mentary {
    border-top: 5px solid #ff9800;
}
.junior{
    width: 20px;
    border: 3px solid white;
    padding: 10px;
    justify-content: center;
    text-align: center;
}
.junior2 h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400%;
    font-size: 40px;
    color: #ff9800;
    text-align: center;
}
.junior2 p{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
}
.junior:hover{
    background-color: #ff9800;
}
.junior2{
    text-align: center;
}
.co3 {
    text-align: center;
}

.co3 h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500%;
    font-size: 50px;
    color: #ff9800;
    text-align: center;
}
.co3 p {
    color: #fff;
}
/* * */
.mage {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    position: relative;

}

.mage0 {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.mage_1 {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.mage_1 img {
    width: 110%;
    height: 115%;
    position: relative;
    margin-right: 80px;
    margin-left: 0px;
}

.mage_img {
    width: 110%;
    height: 120%;
    position: relative;
    margin-right: 80px;
    margin-left: 0px;
}

.mage_overlay:hover {
    opacity: 1;
}

.mage_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 115%;
    height: 120%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity(0.25s);
    padding: 10px;
}

.mage_overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.mage_overlay:hover>* {
    transform: translateY(0);
}

.mage_overlay--blur {
    backdrop-filter: blur(5px);
}

.mage_overlay--primary {
    background: #009578;
}

.mage_overlay--primary {
    background: #ff9800;
}

.mage_title {
    font-size: 2em;
    font-weight: bold;
}

.mage_discription {
    font-size: 1.25em;
    margin-top: 0.25em;
    text-align: center;
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-top: 5px solid #ff9800;
}

.lastpic {
    position: relative;
    height: auto;
    width: 100%;
}

.lastdiv {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(3, 72, 27);
    padding: 150px;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}

.lastdiv h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: #ff9800;
    text-align: center;
}

.lastdiv p {
    color: white;
    font-size: 20px;
}

.learn {
    border: 2px solid white;
}
.learn:hover{
    color: #ff9800;
}

hr {
    width: 100%;
    background-color: #ff9800;
}
.mike{
    border: 3px solid #ff9800;
}

p {
    color: solid white;
    font-size: 20px;
}

.features {
    border-top: 5px solid #ff9800;
}

.features1 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(3, 72, 27);
}

.features1 p {
    text-align: center;
}

.fimage {
    display: flex;
    margin: 20px;
    margin-left: 17%;
}

.fimage1 {
    width: 30%;
    height: 40%;
    display: flex;
    padding: 20px;
    gap: 25px;
}

.fimage1>img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: scale 350m ease, opacity 350ms linear;
}

.fimage1:has(img:hover) img:not(:hover) {
    scale: .8;
    opacity: .7;
}